                                                    /* BODY  */
body{
    top: 0;
    left: 0;
    margin: 0;
    box-sizing: "boredr-box";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

                                                /* HEADER */

.header{
    width: 100%;
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.213);
}
.header-text{
    font-family: none;
    font-size: 13px;
    line-height: 26px;
    text-align: center;
    padding: 6px 0px;
    margin: 0;
    color: black;

}
.header-text p{
    margin: 0;
}

.header-text p a{
    display: inline-block;
    font-size: 100%;
    color: black;
}


/* NAVBAR */
.nav-pk{
    top: 0;
    position: sticky;
    width: 100%;
}

/* NAVBAR CONTAINER */

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/* NAVBAR LOGO - LEFT SIDE */

.navbar-brand a img{
    width: 100%;
}

/* NAVBAR CENTER BUTTONS */
.navbar-buttons-list{
    display: flex;
    gap: 23px;
    justify-content: center;
    align-items: center;
}

.navbar-buttons-list li{
    font: 15px Arial,helvetica,Helvetica,sans-serif ;
    list-style: none;
}

.navbar-buttons-list li a{
    color: black;
    text-decoration: none;
}

.navbar-buttons-list li a:hover{
    border-bottom: 1px solid;
}

/* NAVBAR BUTTON WINTER COLLECTION */
.wc-row{
    position: relative;
    display: none;
    height: 230px;
    text-align: center;
    margin: 2px -100px;
    padding: 10px;
    border: 0.5px solid rgba(128, 128, 128, 0.375);
    background-color: #fff;
}
.wc-manu:hover .wc-row{
    display: flex;
    position: absolute;
}
.wc-row img{
    padding: 0 5px;
}
.wc-column div{
    padding-bottom: 10px;
}
.wc-column:hover span{
    border-bottom: 2px solid;
    font-weight: bold;
}

/* NAVBAR FABRIC BUTTON */
.fabric-container{
    position: relative;
    display: none;
    
}

.fabric-manu:hover .fabric-container{
    background-color: white;
    display: flex;
    position: absolute;
    margin: 1px -250px;
}
.fabric-column{
    padding: 10px 14px;
}
.fabric-column ul{
    padding: 0;
    margin-top: 13px;
    max-width: 100%;
}
.fabric-column ul li{
    line-height: 2;
    font-size: 14px;
}


.fabric-column ul li a{
    color: #2d2b2ad3;
}
.fabric-column4{      
    padding: 25px 2px;
}
.fabric-column4 img{
    width: 200px;
    height: 200px;
}








/* NAVBAR BUTTON SALES */

.sale-menu{
    position: relative;
}
#sale-images{
    position: absolute;
    display: none;
    
}
#sale-images a{
    padding: 0  5px; 
    border: none !important;

}

#sale-images a:hover span{
    border-bottom: 2px solid ;
}

.sale-menu:hover #sale-images{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 230px;
    text-align: center;
    z-index: 101;
    margin: 2px -750px;
    padding: 10px;
    border: 0.5px solid rgba(128, 128, 128, 0.375);
}


                                         /* NAVBAR ICON SEARCH */

    .icons{
        gap: 20px;
        display: flex;
    }
    .icons div{
        width: 50px;
    }
    .icons img{
        width: 35px;
        height: 35px;
        padding-left: 4px;
    }
    #truck::after{
        content: 'Track';
        display: block;
        font-size: 10px;
        text-align: center;
    }
    #search::after{
        content: 'Search';
        display: block;
        font-size: 10px;
        text-align: center;
    }
    #user::after{
        content: 'Account';
        display: block;
        font-size: 10px;
        text-align: center;

    }
    #bag::after{
        content: 'Bag';
        display: block;
        font-size: 10px;
        text-align: center;
    }
    
    

                                            /* MAIN SECTION  */
.section a img{
    width: 100%;
}

                                                /* GRID SECTION  */

.section2 {
    /* height: 80vh; */
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section2 .row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.section2.image {
    margin: 5px;
}

.section2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


                                            /* SECTIONS */

.section-multi {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-container{
    display: flex;
}

.left {
    flex: 1;
}

.left img {
    width: 100%;
    height: 100%;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.card-title{
    margin-left: 15%;
    font-size: 1.5rem;
}
.cards{
    display: flex;
    padding: 2px 20%;
}
.card{
    padding:20px 2px ;
}
.card a{
    text-decoration: none;
    color: #2d2b2a96;
    text-align: justify;
}
.card a p{
    font-size: small;
}
.card img {
    width: 100%;
}
.card button{
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin:0 auto;
    top: 0;
    width: 100%;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.483);
    background-color: #dededea7;
    text-align: center;
}
.card button:hover{
    background-color: rgba(0, 0, 0, 0.483);
    color: white;
}
                                            /* FOOTER  */
.footer-content{
    width: 100%;
    margin: 0;
    padding: 0;
}
/* FOOTER-TOP  */

.facilities{
    background-color: #2d2b2a19;
}

.footer-top{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: auto;
    padding: 10px;
    z-index: 11;
}

.ft-image{
    display: inline-flex;
    text-decoration: none;
    padding: 3px;
    justify-content: space-between;
}
.ft-image img{
    margin-right:15px;
    padding: 0;
}
.text-area{
    display: inline-block;
    font-style: normal;
    color: #2d2b2a;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.text-area h3{
    margin: 0;
}
.text-area p{
    margin: 0;
    font-size: small;
    color: #2d2b2aab;
}
                                            /* FOOTER-INNER-TOP  */

.footer-inner-top{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-container{
    flex: 1;
}
.block-title{
    padding-top: 34px;
    margin-top: 5px;
    margin-bottom: 13px;
    letter-spacing: 0.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #2d2b2a;
    text-transform: uppercase;
    font-style: normal;
}

.block-content{
    color: #777;
    font-weight: 400;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

.mail-box{

    margin-top: 80px;
    height: 50px;
}

.mail-box-area{
    border: 1px solid #2d2b2a77;
    background-color: #fff;
    /* line-height: 50px; */
    display: flex;
    outline: none;
    padding-left: 25px;
}
.mail-icon{
    width: 50px;
    padding-top: 10px;
}
.mail-icon img{
    color: #2d2b2a48;
    margin: auto;
    display: block;
    width: 70%;
    height: 30px;
}
.mail-box form{
    outline: none;
    border: none;
    display: inline-flex;
}

.email-input{
    outline: none;
    border: none;
    text-transform: uppercase;
    padding: 0 22px;
    width: 60vh;

}


.mail-box-button {
    color: white;
    height: 50px;
    background-color: #2d2b2a;
    outline: none;
    text-transform: uppercase;
    padding: 0 22px;
    font: 1.4em;
    justify-content: end;
    margin-right: -15px;
}


.social-links{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 80px 0 28px;
    vertical-align: baseline;
    padding-left: 25px;
    
}

.social-links a {
    margin-right: 10px;
    text-decoration: none;
    background-image: none;
}
.social-links a img{
    width: 50px;
    height: 50px;
}


                                                            /* FOOTER MIDDLE  */
.footer-middle{
    display: inline-block;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.contact-info{
    margin-bottom:0 ;
    padding-left: 0;
    padding-right: 5px ;
}
.contact-info{
    list-style: none;
    padding-left: 0;

}

.contact-info li p{
    margin: 5px 0;
}
.contact-info li a{
    color: #777;
    line-height: 1;
    font-weight: 400;
    text-decoration: none;
}

.contact-info li a:hover{
    border-bottom: 1px solid #777;
}

.footer-end{
    width: auto;
    margin: auto;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
}
.copyright-text{
    color: #2d2b2ab0;
}


/* MEDIAL QUIRIES */


@media screen and (max-width: 1000px) {

    .container{
        flex-direction: column;
        max-height: fit-content;
    }

    .section2 .row{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .section-multi{
        flex-wrap: wrap;
    }
    .section-container{
        flex-wrap: wrap;
        display: inline-block;
    }

    .footer-top{
        align-items: center;
        justify-content: center;

    }
    .block{
        flex-direction: column;
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .social-links{
        justify-content: center;
    }
    .footer-inner-top{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-middle{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footer-container{
        display: flex;
        justify-content: center;
    }

    .footer-container .block{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .block-content{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        margin: auto;
        
    }
    .contact-info ul{
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: center;
        align-items: center;
    }

}